*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
#aboutsec{
    width: 100%;
    background-color: rgb(105, 203, 105);
    flex-direction: column;
    display: flex;
}
#abou_inner{
    width: 90%;
    background-color: green;
    margin: auto;
}
.about_div{
    width: 95%;
    background-color: rgb(105, 203, 105);
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
    
}
/* FOOTER EMAIL HERE */
#footr{
    background-color: rgb(105, 203, 105);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer_ul{
    width: 90%;
    display: flex;
}
.footers{
    width: 18%;
    background-color: rgb(7, 140, 78);
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.resizelogo{
    width: 15%;
}
.footertwit{
    width: 25px;
    border-radius: 10px;
}
#footertwitter{
    width: 90%;
}
#contact_text{
    font-size: 20px;
}
#bak{
    background-color: rgb(105, 203, 105);
}

