*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
#aboutsec{
    width: 100%;
    height: 100vh;
    background-color: rgb(105, 203, 105);
    flex-direction: column;
    display: flex;
}
#abou_inner{
    width: 90%;
    background-color: green;
    margin: auto;
}
.about_div{
    width: 95%;
    background-color: rgb(105, 203, 105);
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
    
}
/* FOOTER EMAIL HERE */
#footr{
    background-color: rgb(105, 203, 105);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer_ul{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footers{
    width: 8%;
}
.resizelogo{
    width: 15%;
    
}
.headerli{
    margin: 5px;
}
.logo{
    margin: 3%;
}
.footertwit{
    width: 25px;
    border-radius: 10px;
}
#footertwitter{
    width: 90%;
}
#contact_text{
    font-size: 20px;
}
#bak{
    background-color: rgb(105, 203, 105);
}
#hamburger_div{
    width: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

