*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
#header11{
    width: 100%;
    background-color: rgb(168, 186, 141);
}
#navving{
    width: 90%;
    background-color: rgb(168, 186, 141);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#headerdiv44{
    width: 10%;
    background-color: rgb(168, 186, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_ul{
    width: 48%;
    background-color: rgb(168, 186, 141);
    display: flex;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}
#header_ul2{
    width: 25%;
    background-color: rgb(168, 186, 141);
    display: flex;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    
}
.headerli{
    width: 31.33%;
    background-color: none;
    margin: 1%;
    border-radius: 6px;
}

.logo{
    width: 40%;
    padding: 5%;
    border-radius: 10px;
}
#hamburger_div{
    width: 5%;
    display: none;
    justify-content: center;
    align-items: center;
}

#sec11{
    width: 100%;
    background-color: rgb(100, 138, 100);
}
#art11{
    width: 90%;
    background-color: rgb(100, 138, 100);
    margin: auto;
    display: flex;
    flex-direction: column;
}
#div11{
    width: 95%;
    background-color: rgb(100, 138, 100);
    margin: 1%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    
}
#div22{
    width: 95%;
    background-color: rgb(100, 138, 100);
    margin: 1%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
}
#innerdiv1{
    width: 90%;
    background-color: rgb(100, 138, 100);
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#innerdiv2{
    width: 90%;
    background-color: rgb(100, 138, 100);
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagegallery{
    width: 60px;
    height: 95px;
}
.gallery{
    width: 23%;
    background-color: rgb(154, 179, 151);
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}
.gallery44{
    width: 100%;
}

/* INDEX BODY BEGINS HERE */
#aboutsec{
    width: 100%;
    background-color: rgb(105, 203, 105);
    flex-direction: column;
    display: flex;
}
#abou_inner{
    width: 90%;
    background-color: unset;
    margin: auto;
}
.about_div{
    width: 95%;
    background-color: rgb(105, 203, 105);
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
.bak{
    background-color: rgb(105, 203, 105);
}
#index_h1{
    font-size: 35px;
}
#offercenter{
    width: 90%;
    background-color: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SCROLLBARS BEGINS HERE NOW */
#horizontal_scroll{
    width: 100%;
    background-color: unset;
    padding-top: 3%;
    padding-bottom: 3%;
}
#horizontal_art{
    width: 90%;
    background-color: none;
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 2%;
}
.scrollsdivs{
    min-width: 200px;
    background-color: rgb(198, 236, 199);
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}
#horizontal_art::-webkit-scrollbar{
    height: 10px;
    background-color: white;
    border: 1px solid rgb(232, 235, 233);
}
#horizontal_art::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgb(5, 134, 96);
}
.home_image{
    width: 100%;
    border-radius: 20px;
}

#logo_div{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}





