*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
a{
    color: black;
}
#header11{
    width: 100%;
    background-color: rgb(168, 186, 141);
}
#navving{
    width: 90%;
    background-color: rgb(168, 186, 141);
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#headerdiv44{
    width: 10%;
    background-color: rgb(168, 186, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}
#header_ul{
    width: 48%;
    background-color: rgb(168, 186, 141);
    display: flex;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}
#header_ul2{
    width: 28%;
    background-color: rgb(168, 186, 141);
    display: flex;
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
}
.headerli{
    width: 31.33%;
    background-color: rgb(168, 186, 141);
    margin: 3%;
    border-radius: 6px;
}

.logo{
    width: 30px;
    padding: 5%;
    border-radius: 10px;
}
/* BODY BEGINS HERE */
#aboutsec{
    width: 100%;
    height: 100vh;
    background-color: rgb(105, 203, 105);
    flex-direction: column;
    display: flex;
}
#abou_inner{
    width: 50%;
    background-color: green;
    margin: auto;
}
.about_div{
    width: 95%;
    background-color: rgb(105, 203, 105);
    padding: 1%;
    border-radius: 10px;
    margin: 1% auto;
    text-align: center;
}
#hamburger_div{
    width: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.set1_input{
    width: 60%;
    border-radius: 3px;
    padding: 8px;
    border: none;
}
.select{
    width: 60%;
    padding: 3px;
}
#submit{
    width: 40%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid yellow;
    background-color: blanchedalmond;
}
form{
    text-align: center;
}
#login_div{
    width: 90%;
    background-color: rgb(17, 136, 17);
    padding-top: 10%;
    margin: auto;
    padding-bottom: 10%;
}
#login_page_body{
    background-color: green;
}
.login_input{
    width: 40%;
    border-radius: 3px;
    padding: 8px;
    border: none;
}
.submit{
    background-color: rgb(93, 91, 91);
}

/* THE HAMBURGER DROPDOWN BEGIN HERE */

/* this is the entire dropdown section where we blur some parts */
#Dropdown_sec{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    backdrop-filter: blur(4px);
    z-index: 20;
}

/* this is the subsection that holds the dropdown directly we can give it our desired height and width */
#TheUl_Dropdown{
    width: 35%;
    height: 80%;
    background-color: gray;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10%;
    border-radius: 20px;
}

/* this is the actual list of dropdown that is the write-up */
.list_anchor{
    width: 100%;
    background-color: none;
    margin: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    color: black;

}

/* The exit button is styled here */
#exit_button{
    width: 30px;
    height: 30px;
    background-color: rgb(191, 191, 184);
    right: 3%;
    top: 2%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
    border-radius: 15px;
    color: red;
}

.dropDown_icon{
    width: 15%;
    border-radius: 10px;
    margin: 1%;
}
#dropDown_icon2{
    width: 15%;
    margin: 1%;
}
.list_anchor a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#close_img{
    width: 100%;
}
.footer_link{
    color: skyblue;
}

